[login]
user=
cookie=
use-browser-cookie=

[import]
max-count=
expand-series=
force=
dry-run=
email-server=
email-user=
email-password=
email-folder=
email-mark-read=
mirror=
use-flaresolverr=
flaresolverr-url=
source=
since=
since-last-update=
usernames=
series=
collections=
email-server=
email-user=
email-password=
email-folder=

[calibre]
library=
calibre-user=
calibre-password=

[locations]
input=
fanficfare-config=
last-update-file=
analysis-dir=

[analysis]
analysis-type=
fix=
