[login]
user=
cookie=
use-browser-cookie=

[import]
max-count=
expand-series=
force=
dry-run=
mirror=
source=
since=
since-last-update=
usernames=
series=
collections=
email-server=
email-user=
email-password=
email-folder=

[locations]
library=
input=
fanficfare-config=
last-update-file=
analysis-dir=

[analysis]
analysis-type=
fix=
