[login]
user=
cookie=
use_browser_cookie=

[import]
max_count=
expand_series=
force=
dry_run=
source=
since=
since_last_update=
usernames=
series=
collections=

[locations]
library=
input=
fanficfare_config=
last_update_file=
analysis_dir=

[analysis]
analysis_type=
fix=

[output]
live=
