-e ao3/
beautifulsoup4==4.9.3
browser-cookie3==0.19.1
certifi==2024.2.2
chardet==4.0.0
cloudscraper==1.2.50
FanFicFare==4.34.0
html2text==2020.1.16
html5lib==1.1
idna==3.7
pillow==10.3.0
pyparsing==2.4.7
requests==2.31.0
requests-toolbelt==0.9.1
six==1.15.0
soupsieve==2.1
urllib3==2.2.1
webencodings==0.5.1
