-e ao3/
beautifulsoup4==4.9.3
Brotli==1.1.0
browser-cookie3==0.20.1
certifi==2024.7.4
chardet==4.0.0
charset-normalizer==3.3.2
cloudscraper==1.2.50
FanFicFare==4.34.0
html2text==2020.1.16
html5lib==1.1
idna==3.7
jeepney==0.8.0
lz4==4.3.3
pillow==10.3.0
pycryptodomex==3.20.0
pyparsing==2.4.7
requests==2.32.2
requests-file==2.0.0
requests-toolbelt==1.0.0
six==1.15.0
soupsieve==2.1
urllib3==2.2.2
webencodings==0.5.1
